@prefix-cls: shadcn-date-picker;

@background-color: rgb(255, 255, 255);

@input-placeholder-color: hsv(0, 0, 75%);

@time-panel-padding-total: 180px;
// @time-panel-padding-top: 90px;
@time-panel-padding-top: 0;

@panel-padding: calc(var(--spacing) * 3);

.placeholder(@color: @input-placeholder-color) {

  // Firefox
  &::-moz-placeholder {
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }

  &::placeholder {
    color: @color;
  }

  &:placeholder-shown {
    text-overflow: ellipsis;
  }
}

.@{prefix-cls} {
  position: relative;
  display: inline-flex;
  border: 1px solid var(--input);
  border-radius: calc(var(--radius) - 2px);
  overflow: hidden;
  padding: calc(var(--spacing) * 1) calc(var(--spacing) * 3);

  &-rtl {
    direction: rtl;
  }

  &-focused {
    // border: 1px solid blue;
  }

  &-invalid {
    // box-shadow: 0 0 2px red;
  }

  &-panels {
    display: flex;
    flex-wrap: nowrap;
  }

  &-panel {
    display: inline-block;
    vertical-align: top;
    background: @background-color;
    border: 1px solid var(--border);
    --tw-shadow: 0 4px 6px -1px var(--tw-shadow-color, #0000001a),
      0 2px 4px -2px var(--tw-shadow-color, #0000001a);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
      var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    border-radius: calc(var(--radius) - 2px);
    overflow: hidden;

    &-focused {
      // border-color: blue;
    }

    &-rtl {
      direction: rtl;
    }
  }

  // ===================== Shared Panel =====================
  &-decade-panel,
  &-year-panel,
  &-month-panel,
  &-week-panel,
  &-date-panel,
  &-time-panel,
  &-quarter-panel {
    display: flex;
    flex-direction: column;
    padding: @panel-padding;
    gap: calc(var(--spacing) * 4);

    table {
      text-align: center;
      border-collapse: collapse;

      >thead {
        >tr {
          >th {
            color: var(--popover-foreground);
            font-weight: 400;
            width: 36px;
            height: 36px;
            line-height: 36px;
          }
        }
      }

      >tbody {
        >tr {
          >td {
            // color: var(--popover-foreground);
            width: 36px;
            height: 36px;
            font-weight: 400;
          }
        }
      }
    }
  }

  // Header
  &-header {
    display: flex;
    align-items: center;

    >* {
      flex: none;
    }

    >button {
      color: rgba(0, 0, 0, 0.45);
      min-width: 1.4rem;
      font-size: 16px;
      height: 32px;

      &:hover {
        cursor: pointer;
        color: rgba(0, 0, 0, 0.88);
      }
    }

    &-view {
      flex: auto;
      text-align: center;

      >button {
        padding: 0;
        border: 0;
        font-weight: 600;
        font-size: 14px;

        &:not(:first-child) {
          margin-inline-start: calc(var(--spacing) * 2);
        }
      }
    }
  }

  &-body {}

  // Content
  &-cell {
    color: var(--muted-foreground);
    min-width: 24px;

    transition: background 0.1s, border 0.1s;

    &-disabled {
      opacity: 0.2;
    }

    &-inner {
      display: inline-block;
      box-sizing: border-box;
      width: 100%;
      margin: 0;
      padding: 0;
      font-size: 14px;
      height: 24px;
      line-height: 24px;
      background: transparent;
      border: 0;
      border: none;
      outline: none;
      cursor: pointer;
      transition: background 0.1s, border 0.1s;

      border-radius: calc(var(--radius) - 2px);

      &:hover {
        background-color: var(--accent);
      }
    }

    &-in-view {
      color: var(--popover-foreground);
    }

    &-in-range>&-inner {}

    &-in-range&-in-view {
      background-color: var(--accent);

      &-hover>&-inner {
        color: var(--primary-foreground);
        background-color: var(--primary);
      }
    }

    &-range-hover-start,
    &-range-hover-end,
    &-range-hover {
      position: relative;

      &::after {
        position: absolute;
        top: 3px;
        right: 0;
        bottom: 0;
        left: 0;
        border: 1px solid green;
        border-right: 0;
        border-left: 0;
        content: "";
        pointer-events: none;
      }
    }

    &-range-hover-start::after {
      border-left: 1px solid green !important;
    }

    &-range-hover-end::after {
      border-right: 1px solid green !important;
    }

    &-today>&-inner {
      border: 1px solid var(--primary);
    }

    &-range-start&-in-view>&-inner,
    &-range-end&-in-view>&-inner,
    &-selected&-in-view>&-inner {
      color: var(--primary-foreground);
      background-color: var(--primary);
    }
  }

  // Preset
  &-presets {
    background: #ccccff;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  &-footer {
    background: @background-color;
    color: var(--popover-foreground);
    border-top: 1px solid var(--border);
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 3);

    &:not(:has(li:nth-child(2):last-child)) {
      text-align: center;
    }

    &:hover {
      cursor: pointer;
    }

  }

  &-ranges {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      display: inline-block;
      flex: 1;

      >a {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  &-ok {
    flex: 1;
    text-align: right;
  }

  // ================== Year & Month Panel ==================
  &-year-panel,
  &-month-panel,
  &-decade-panel {
    width: 288px;

    .@{prefix-cls}-content {
      width: 100%;
      height: 264px;
    }
  }

  // ====================== Quarter Panel ======================
  &-quarter-panel {
    width: 288px;

    .@{prefix-cls}-content {
      width: 100%;
      height: 56px;
    }
  }

  // ====================== Week Panel ======================
  &-week-panel {
    &-row {
      &:hover {
        .@{prefix-cls}-cell {
          color: var(--primary-foreground);
          background-color: var(--primary);

          >.@{prefix-cls}-cell-inner {
            background-color: unset;
          }
        }
      }

      &-selected {
        .@{prefix-cls}-cell {
          color: var(--primary-foreground);
          background-color: var(--primary);

          >.@{prefix-cls}-cell-inner {
            background-color: unset;
          }
        }
      }

      &-range {
        &-hover {
          .@{prefix-cls}-cell {
            background: rgba(0, 255, 0, 0.1);
          }
        }

        &-start,
        &-end {
          .@{prefix-cls}-cell {
            background: rgba(0, 255, 0, 0.3);
          }
        }
      }
    }

    .@{prefix-cls}-cell,
    .@{prefix-cls}-cell-inner {
      width: 24px;
    }

    .@{prefix-cls}-cell-week {
      color: #999;
      font-weight: bold;
      font-size: 12px;
    }

    .@{prefix-cls}-cell:hover>.@{prefix-cls}-cell-inner,
    .@{prefix-cls}-cell-selected>.@{prefix-cls}-cell-inner {
      background: transparent;
    }
  }

  // ====================== Date Panel ======================
  &-date-panel {
    .@{prefix-cls}-cell-inner {
      width: 24px;
    }
  }

  // ====================== Time Panel ======================
  &-time-panel {
    width: auto;

    .@{prefix-cls}-content {
      position: relative;
      display: flex;
      max-height: 200px;
      direction: ltr;

      // &::after {
      //   position: absolute;
      //   top: @time-panel-padding-top;
      //   right: -5px;
      //   left: -5px;
      //   height: 20px;
      //   background: rgba(255, 0, 0, 0.05);
      //   content: '';
      //   pointer-events: none;
      // }
    }

    // &-column-holder {
    //   display: flex;
    //   flex-direction: column;
    //   text-align: center;
    // }

    &-column-title {
      font-size: 14px;
      line-height: 20px;
    }

    &-column {
      flex: auto;
      width: 50px;
      margin: 0;
      // padding: 0 0 180px 0;
      padding: @time-panel-padding-top 0 (@time-panel-padding-total - @time-panel-padding-top);
      overflow-x: hidden;
      overflow-y: hidden;
      font-size: 12px;
      text-align: left;
      list-style: none;
      transition: background 0.3s;

      &-active {
        background: rgba(0, 0, 255, 0.1);
      }

      &:hover {
        overflow-y: auto;
      }

      >li {
        width: 50px;
        margin: 0;
        padding: 0;
        cursor: pointer;

        &.@{prefix-cls}-time-panel-cell {
          &-disabled {
            opacity: 0.5;
          }

          &-selected {
            background-color: var(--primary);

            >.@{prefix-cls}-time-panel-cell-inner {
              color: var(--primary-foreground);
            }
          }
        }

        .@{prefix-cls}-time-panel-cell-inner {
          display: block;
          width: 100%;
          height: 24px;
          margin: 0;
          // padding: 0 0 0 12px;
          color: #333;
          line-height: 24px;
          text-align: center;

          .@{prefix-cls}-panel-rtl & {
            padding: 0 12px 0 0;
            text-align: right;
          }
        }
      }
    }
  }

  // ====================== Date Time =======================
  &-datetime-panel {
    display: flex;

    .@{prefix-cls}-time-panel {
      border-left: 1px solid #999;
    }

    .@{prefix-cls}-date-panel,
    .@{prefix-cls}-time-panel {
      transition: opacity 0.3s;
    }

    // Keyboard
    &-active {

      .@{prefix-cls}-date-panel,
      .@{prefix-cls}-time-panel {
        opacity: 0.3;

        &-active {
          opacity: 1;
        }
      }
    }
  }

  // ======================== Input =========================

  &:hover {

    .@{prefix-cls}-suffix:not(:last-child) {
      opacity: 0;
    }

    .@{prefix-cls}-clear {
      opacity: 1;
    }
  }

  &-input {
    position: relative;
    display: inline-flex;
    width: 100%;

    .@{prefix-cls}-rtl & {
      text-align: right;
    }

    &-active {
      >input {
        // background: rgba(0, 0, 255, 0.05);
      }
    }

    >input {
      width: 100%;
      outline: none;
      color: var(--color-neutral-800);
      font-size: 14px;
      .placeholder();
    }

    &-placeholder {
      >input {
        color: @input-placeholder-color;
      }
    }
  }

  &-clear {
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    inset-inline-end: 0;
    cursor: pointer;
    transition: all 0.1s;

    &-btn::after {
      content: "×";
    }
  }

  &-suffix {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.25);
    transition: all 0.1s;
    margin-inline-start: calc(var(--spacing) * 1);
  }

  // ======================= Dropdown =======================
  &-dropdown {
    position: absolute;
    // box-shadow: 0 0 1px red;
    pointer-events: none;

    .@{prefix-cls}-panel {
      box-shadow: unset;
      border-radius: unset;
      border: unset;
      // overflow: hidden;
    }

    &-range {
      padding: 10px 0;
    }

    &-hidden {
      display: none;
    }

    &-rtl {
      direction: rtl;
    }

    // Panel
    &-placement-topLeft,
    &-placement-topRight {
      .@{prefix-cls}-range-arrow {
        bottom: 1px;
        transform: translateY(100%) rotate(180deg);
      }
    }

    &-placement-bottomLeft,
    &-placement-bottomRight {
      .@{prefix-cls}-range-arrow {
        top: 1px;
        transform: translateY(-100%);
      }
    }

    .@{prefix-cls}-range-arrow {
      position: absolute;
      z-index: 1;
      padding-inline: 16.5px;
      box-sizing: content-box;
      transition: all 0.3s ease-out;
      pointer-events: none;
      width: calc(var(--spacing) * 4);
      height: calc(var(--spacing) * 4);
      display: block;

      &::before {

        position: absolute;
        bottom: 0;
        inset-inline-start: 16.5px;
        width: calc(var(--spacing) * 4);
        height: calc(var(--spacing) * 2);
        background: @background-color;
        clip-path: path('M 0 8 A 4 4 0 0 0 2.82842712474619 6.82842712474619 L 6.585786437626905 3.0710678118654755 A 2 2 0 0 1 9.414213562373096 3.0710678118654755 L 13.17157287525381 6.82842712474619 A 4 4 0 0 0 16 8 Z');
        content: "";

        .@{prefix-cls}-dropdown-rtl& {
          transform: translate(50%, -50%);
        }
      }

      &::after {
        content: "";
        position: absolute;
        width: 8.970562748477143px;
        height: 8.970562748477143px;
        bottom: 0;
        inset-inline: 0;
        margin: auto;
        border-radius: 0 0 2px 0;
        transform: translateY(50%) rotate(-135deg);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
        z-index: 0;
        background: transparent;
      }

    }
  }

  // ========================================================
  // =                     Range Picker                     =
  // ========================================================
  &-range {

    display: inline-flex;
    align-items: center;

    .@{prefix-cls}-range-separator {
      color: rgba(0, 0, 0, 0.25);
      padding: 0 calc(var(--spacing) * 2);
    }

    .@{prefix-cls}-clear {
      inset-inline-end: calc(var(--spacing)* 3);
    }

    &-wrapper {
      display: flex;
      position: relative;
    }

    .@{prefix-cls}-active-bar {
      bottom: -1px;
      height: 2px;
      background: var(--primary);
      opacity: 0;
      transition: all 0.3s;
      pointer-events: none;
    }

    &.@{prefix-cls}-focused {
      .@{prefix-cls}-active-bar {
        opacity: 1;
      }
    }
  }

  &-panel-container {
    display: inline-block;
    vertical-align: top;
    transition: margin 0.3s;
    pointer-events: all;
  }

  &-panel-layout {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;

    --tw-shadow: 0 4px 6px -1px var(--tw-shadow-color, #0000001a),
      0 2px 4px -2px var(--tw-shadow-color, #0000001a);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
      var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    border-radius: calc(var(--radius) - 2px);
    border: 1px solid var(--border);
    overflow: hidden;
  }

  // ========================================================
  // =                       Overflow                       =
  // ========================================================
  &-selector {
    width: 100%;
  }

  &-selection-overflow {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid green;
    min-height: 1em;

    &-item {
      flex: none;
      max-width: 100%;
    }
  }

  &-selection-item {
    border: 1px solid blue;
  }

  &-selection-placeholder {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
  }

  &-multiple-input {
    width: 10px;
    opacity: 0.1;
  }
}