.tiptap-button-text-color {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 -0.175rem;
  border-radius: var(--tt-radius-xl);
  color: var(--text-color);
  transition: transform 0.2s ease;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: inherit;
    box-sizing: border-box;
    border: 1px solid var(--text-color);
    filter: brightness(95%);
    mix-blend-mode: multiply;

    .dark & {
      filter: brightness(140%);
      mix-blend-mode: lighten;
    }
  }

  &>.tiptap-button-text-color-icon {
    width: 1rem;
    height: 1rem;
  }
}

.tiptap-button {
  &[data-active-state="on"] {
    .tiptap-button-text-color {
      &::after {
        filter: brightness(80%);
      }
    }
  }

  .dark & {
    &[data-active-state="on"] {
      .tiptap-button-text-color {
        &::after {
          filter: brightness(180%);
        }
      }
    }
  }
}