.features {
  display: flex;
  align-items: center;
  padding: 3rem 0 2rem;
  width: 100%;
}

.featureSvg {
  height: 120px;
  width: 120px;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .features {
    padding: 2rem 0 1rem;
  }
}
